@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');
body {
    margin: 0px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    font-weight: 700;
}

.logo {
    font-weight: 900;
    font-size: 27px;
    transition: 0.2s;
}

.logo:hover {
    transform: scale(1.2);
    text-decoration: underline 2px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

nav a {
    padding-left: 15px;
}

nav a:hover {
    text-decoration: underline 2px;
}